@import '~normalize.css';

body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

.app {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}